################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/TIEDPAG.Dispense.Api/bin/
/TIEDPAG.Dispense.Api/obj
/TIEDPAG.Dispense.Biz/bin
/TIEDPAG.Dispense.Biz/obj
/TIEDPAG.Dispense.DAL/bin
/TIEDPAG.Dispense.DAL/obj
/TIEDPAG.Dispense.Model/bin
/TIEDPAG.Dispense.Model/obj
/UnitTest/bin
/UnitTest/obj
/TIEDPAG.Common/bin/Debug/netcoreapp2.2
/TIEDPAG.Common/obj
/TIEDPAG.Dispense/obj
/TIEDPAG.Dispense.IBiz/bin/Debug/netcoreapp2.2
/TIEDPAG.Dispense.IBiz/obj
/TIEDPAG.Dispense.IDAL/bin/Debug/netcoreapp2.2
/TIEDPAG.Dispense.IDAL/obj
